* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Futura, sans-serif;
  background-color: #003d5b;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 100px;
  text-align: center;
  color: #edae49;
  text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: default;
}
span {
  color: #d1495b;
}

.currencies {
  width: 500px;
  height: 52.5px;
  background-color: #edae49;
  margin: auto;
  margin-top: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
h2 {
  color: white;
  font-family: Futura, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}
.dollar {
  width: 250px;
  height: 52.5px;
  background-color: transparent;
  border: none;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.euro {
  width: 250px;
  height: 52.5px;
  background-color: transparent;
  border: none;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.indicator {
  width: 250px;
  height: 52.5px;
  position: absolute;
  left: 0;
  background-color: #d1495b;
  transition: 0.3s;
}

.conversion {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 100px;
}
input {
  font-family: Futura, sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #edae49;
  width: 190px;
  background-color: transparent;
  border: none;
  outline: none;
}
input::placeholder {
  color: #edae49;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
#EUR {
  display: none;
}
.conversion span {
  font-weight: bold;
  margin-left: 36px;
  margin-right: 40px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
p {
  color: #d1495b;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#convertedEUR {
  display: none;
}

@media screen and (max-width: 870px) {
  h1 {
    font-size: 80px;
    text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
  }
  .conversion {
    font-size: 40px;
  }
  input {
    font-size: 40px;
    width: 120px;
  }
}
@media screen and (max-width: 715px) {
  h1 {
    font-size: 55px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .conversion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  input {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 40px;
  }
  .currencies {
    width: 300px;
  }
  .indicator {
    display: none;
  }
}
